@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700,800);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:300,400,500,600,400italic);
html, body, div, h1, h2, h3, h4, p, b, i, strong, em, strike, sub, sup, ul, ol, li,
blockquote, form, imput, textarea, select, button, td, tr, th, table, span,
header, footer, article, aside, nav, section, hgroup, figure {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
}

header, footer, article, aside, nav, section, hgroup {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  background: #fff;
  color: #222;
  font-family: serif;
  font-size: 100%;
}

img {
  border: none;
  outline: none;
}

a {
  color: #12c;
  text-decoration: none;
}

a:hover {
  color: #12c;
  text-decoration: none;
}

a:visited, a:active {
  outline: none;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
  padding-left: 22px;
}

nav ol, nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: block;
}

select {
  display: block;
  border: 1px solid #666;
  font-family: serif;
  outline: none;
  vertical-align: top;
  vertical-align-box-sizing: border-box;
}

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
}

sub, sup {
  font-size: 70%;
  line-height: 0;
  vertical-align: baseline;
  position: relative;
}

sub {
  bottom: -0.5em;
}

sup {
  top: -0.5em;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

small {
  font-size: 85%;
}

table, td {
  border-collapse: collapse;
  border-spacing: none;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.clearfix:after {
  content: '';
  overflow: hidden;
  display: table;
  clear: both;
}

.title, .contact__title {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: solid 4px #f4c60b;
  color: #000;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .title, .contact__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .title, .contact__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 320px) {
  .title, .contact__title {
    font-size: 25px;
  }
}

.description {
  padding-top: 30px;
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

@media screen and (max-width: 768px) {
  .description {
    padding-top: calc(30*100%/768);
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .description {
    font-size: 16px;
  }
}

.button {
  width: 260px;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  border: 3px solid #f4c60b;
  box-shadow: 7px 7px 10px #757575;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  box-shadow: inset 0 0 40px #f4c60b;
  transition: box-shadow .10s ease-in-out;
}

@media screen and (max-width: 768px) {
  .button {
    width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .button {
    width: 150px;
  }
}

.button__title {
  line-height: 64px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 768px) {
  .button__title {
    line-height: 50px;
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .button__title {
    line-height: 44px;
    font-size: 14px;
  }
}

.home {
  padding-bottom: 30px;
  background-image: url("../pic/home-bg.png");
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  position: relative;
}

.home__container {
  padding: 0 20px;
  max-width: 1145px;
  min-width: 240px;
  margin: 0 auto;
  box-sizing: border-box;
}

.home__header {
  padding-top: 30px;
}

.home-header__logo {
  float: left;
}

@media screen and (max-width: 360px) {
  .home-header__logo {
    width: 12%;
  }
}

.home-header__menu {
  padding-top: 12px;
  text-transform: uppercase;
  float: right;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .home-header__menu {
    right: -300px;
    top: 80px;
    position: absolute;
    width: 230px;
    background: rgba(16, 45, 29, 0.8);
    border-radius: 5px;
    transition: all 0.5s ease;
    text-align: center;
    font-size: 22px;
  }
}

@media screen and (max-width: 420px) {
  .home-header__menu {
    font-size: 20px;
  }
}

@media screen and (max-width: 315px) {
  .home-header__menu {
    width: 150px;
    font-size: 16px;
  }
}

.home-header__menu-item {
  position: relative;
  margin-left: 60px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.home-header__menu-item:hover {
  color: #f4c60b;
}

.home-header__menu-item:after {
  content: "";
  left: calc(100% + 27px);
  top: 6.5px;
  position: absolute;
  box-sizing: border-box;
  width: 5px;
  height: 5px;
  border: 1px solid #f4c60b;
  border-radius: 50%;
}

.home-header__menu-item:last-child:after {
  display: none;
}

@media screen and (max-width: 768px) {
  .home-header__menu-item {
    display: block;
    line-height: 80px;
    margin-left: 0;
  }
  .home-header__menu-item:after {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .home-header__menu-item {
    line-height: 60px;
  }
}

@media screen and (max-width: 315px) {
  .home-header__menu-item {
    line-height: 45px;
  }
}

.menu-button {
  width: 46px;
  height: 46px;
  display: none;
  position: relative;
  float: right;
}

.menu-button:hover .menu-button__line {
  background-color: transparent;
}

.menu-button:hover .menu-button__line:before {
  width: 46px;
  left: -8px;
  top: -17px;
}

.menu-button:hover .menu-button__line:after {
  width: 46px;
  left: -8px;
  bottom: -17px;
}

.menu-button:hover .menu-button__text {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
    cursor: pointer;
  }
}

.menu-button__line {
  position: absolute;
  top: 18px;
  left: 8px;
  height: 3px;
  width: 30px;
  background-color: #fff;
  transition: background-color 100ms ease-in;
}

.menu-button__line:before, .menu-button__line:after {
  content: '';
  position: absolute;
  left: 0;
  height: 3px;
  width: 30px;
  background-color: #fff;
  transition: all 150ms ease-in-out;
}

.menu-button__line:before {
  top: -12px;
}

.menu-button__line:after {
  bottom: -12px;
}

.menu-button__text {
  width: 46px;
  position: absolute;
  top: -18px;
  left: -8px;
  font-size: 0;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
  transition: font-size 275ms ease-out;
}

#home-header__menu-button {
  display: none;
  position: relative;
}

#home-header__menu-button:checked + .home-header__menu {
  right: 20px;
}

.home__title {
  margin: 295px 0 5px;
  text-transform: uppercase;
  color: #f4c60b;
  font-size: 72px;
  font-weight: 700;
  margin: calc(295*100%/940) 0 5px;
}

@media screen and (max-width: 768px) {
  .home__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 360px) {
  .home__title {
    font-size: 38px;
  }
}

@media screen and (max-width: 240px) {
  .home__title {
    font-size: 30px;
  }
}

.home__description {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  font-style: italic;
}

@media screen and (max-width: 360px) {
  .home__description {
    font-size: 18px;
  }
}

@media screen and (max-width: 240px) {
  .home__description {
    font-size: 14px;
  }
}

.home__scroll {
  margin: 127px 0 44px;
  margin: calc(127*100%/940) 0 calc(44*100%/940);
}

.home__scroll-title {
  display: block;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 940px) {
  .home__scroll-title {
    margin-top: calc(30*100%/940);
  }
}

@media screen and (max-width: 360px) {
  .home__scroll-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 240px) {
  .home__scroll-title {
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  .home__scroll-icon {
    width: 6%;
  }
}

.home__slider-item {
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 0 3px;
  border: 1px solid #f4c60b;
  border-radius: 50%;
  cursor: pointer;
}

.home__slider-item.is-active, .home__slider-item:hover {
  background: #f4c60b;
}

.about {
  padding: 110px 20px 115px;
  background-image: url("../pic/about-bg.png");
  background-size: cover;
  background-position: 50% 50%;
}

.about:nth-child(3) {
  margin: 10 auto;
}

@media screen and (max-width: 940px) {
  .about {
    padding: calc(110*100%/940) 20px calc(115*100%/940);
  }
}

.about__container {
  max-width: 860px;
  margin: 137px auto 90px;
  line-height: 36px;
  text-align: justify;
  color: #000;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 940px) {
  .about__container {
    margin: calc(137*100%/940) auto calc(90*100%/940);
  }
}

@media screen and (max-width: 320px) {
  .about__container {
    line-height: 27px;
  }
}

@media screen and (max-width: 240px) {
  .about__container {
    line-height: 20px;
    font-size: 14px;
  }
}

.about__container span {
  display: block;
  text-align: center;
}

.about__text--hidden {
  display: none;
}

.portfolio {
  padding: 110px 0 60px;
}

@media screen and (max-width: 940px) {
  .portfolio {
    padding: calc(110*100%/940) 0 calc(60*100%/940);
  }
}

.portfolio__wrap {
  padding: 0 20px;
}

.portfolio__description {
  max-width: 485px;
  margin: 0 auto;
  line-height: 28px;
}

@media screen and (max-width: 320px) {
  .portfolio__description {
    line-height: 20px;
  }
}

.portfolio__menu {
  margin-top: 52px;
  margin-top: calc(52*100%/940);
}

.portfolio__menu-item {
  margin-left: -1px;
  padding: 15px 25px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #f4c60b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #000;
}

.portfolio__menu-item:hover {
  box-shadow: inset 0 0 30px #f4c60b;
  transition: box-shadow 0.5s ease-in-out;
  color: #000;
}

@media screen and (max-width: 540px) {
  .portfolio__menu-item {
    width: 60%;
    margin-bottom: -1px;
    margin-left: 0;
  }
}

.portfolio__gallery {
  display: inline-block;
  margin: 60px 0;
  font-size: 0;
  margin: calc(60*100%/940) 0;
}

.portfolio__gallery-item {
  width: 25%;
  cursor: pointer;
}

.portfolio__gallery-item:hover {
  transform: scale(1.1);
  transition: transform .4s ease-in-out;
}

@media screen and (max-width: 530px) {
  .portfolio__gallery-item {
    width: 50%;
  }
}

.portfolio__gallery-item--hidden {
  display: none;
}

.team {
  padding: 110px 20px 140px;
}

@media screen and (max-width: 940px) {
  .team {
    padding: calc(110*100%/940) 20px calc(140*100%/940);
  }
}

.team-container {
  margin: 0 auto;
  max-width: 960px;
  margin-top: 110px;
}

@media screen and (max-width: 940px) {
  .team-container {
    margin-top: calc(110*100%/940);
  }
}

.team-item {
  width: 27%;
  display: inline-block;
  margin: 0 3.16%;
  vertical-align: top;
}

@media screen and (max-width: 880px) {
  .team-item {
    margin: 0 1%;
  }
}

@media screen and (max-width: 460px) {
  .team-item {
    width: 50%;
    margin-top: 10%;
  }
  .team-item:nth-child(1) {
    margin-top: 0;
  }
}

@media screen and (max-width: 240px) {
  .team-item {
    width: 70%;
  }
}

.team-item__photo {
  max-width: 100%;
  height: auto;
}

.team-item__title {
  margin: 38px 0 26px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 880px) {
  .team-item__title {
    font-size: 20px;
    margin: 14% 0 13%;
  }
}

@media screen and (max-width: 768px) {
  .team-item__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .team-item__title {
    font-size: 14px;
  }
}

@media screen and (max-width: 540px) {
  .team-item__title {
    font-size: 12px;
  }
}

@media screen and (max-width: 460px) {
  .team-item__title {
    font-size: 20px;
    margin: 20px 0 7px;
  }
}

@media screen and (max-width: 320px) {
  .team-item__title {
    margin: 5px 0 5px;
    font-size: 16px;
  }
}

.team-item__description {
  font-size: 18px;
  font-weight: 300;
  color: #000;
}

@media screen and (max-width: 768px) {
  .team-item__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .team-item__description {
    font-size: 14px;
  }
}

@media screen and (max-width: 540px) {
  .team-item__description {
    font-size: 12px;
  }
}

@media screen and (max-width: 460px) {
  .team-item__description {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .team-item__description {
    font-size: 14px;
  }
}

.skills__content {
  padding: 110px 20px 120px;
  background-image: url("../pic/skills-bg1.png");
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (max-width: 940px) {
  .skills__content {
    padding: calc(110*100%/940) 20px calc(120*100%/940);
  }
}

.skills__container {
  margin-top: 180px;
}

@media screen and (max-width: 940px) {
  .skills__container {
    margin-top: calc(180*100%/940);
  }
}

.skills-item {
  margin: 0 76px;
  display: inline-block;
}

@media screen and (max-width: 1020px) {
  .skills-item {
    margin: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .skills-item {
    width: 136px;
  }
}

@media screen and (max-width: 650px) {
  .skills-item {
    margin: 0 10px;
  }
}

@media screen and (max-width: 530px) {
  .skills-item {
    margin: 0 12%;
    margin-top: 50px;
  }
  .skills-item:nth-child(1) {
    margin-top: 0;
  }
}

.skils-item__progress {
  max-width: 100%;
  transform: rotate(-90deg);
}

.skills-item__progress-value {
  top: 29%;
  left: 33%;
  position: absolute;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
}

@media screen and (max-width: 768px) {
  .skills-item__progress-value {
    left: 28%;
  }
}

@media screen and (max-width: 480px) {
  .skills-item__progress-value {
    top: 33%;
    left: 33%;
    font-size: 38px;
  }
}

@media screen and (max-width: 320px) {
  .skills-item__progress-value {
    top: 36%;
    left: 36%;
    font-size: 30px;
  }
}

.skills-item__progress-value .is-little {
  font-size: 24px;
}

@media screen and (max-width: 480px) {
  .skills-item__progress-value .is-little {
    font-size: 19px;
  }
}

@media screen and (max-width: 320px) {
  .skills-item__progress-value .is-little {
    font-size: 14px;
  }
}

.skils-item__progress .skils-item__progress-front {
  fill: transparent;
  stroke: #f4c60b;
  stroke-width: 7;
  stroke-dasharray: calc(45% * 3.14168* 2);
  stroke-dashoffset: 0;
}

.skils-item__progress .skils-item__progress-back {
  fill: transparent;
  stroke-width: 7;
  stroke: #fff;
}

.skills-item__svg-container {
  position: relative;
  max-width: 164px;
}

.skils-item__progress .progress-75 {
  stroke-dashoffset: calc((45% * 3.14168* 2) * (1 - 0.75));
}

.skils-item__progress .progress-90 {
  stroke-dashoffset: calc((45% * 3.14168* 2) * (1 - 0.9));
}

.skils-item__progress .progress-30 {
  stroke-dashoffset: calc((45% * 3.14168* 2) * (1 - 0.3));
}

.skills-item__title {
  margin-top: 50px;
  display: block;
  font-size: 24px;
  font-weight: 300;
}

@media screen and (max-width: 940px) {
  .skills-item__title {
    margin-top: calc(50*100%/940);
  }
}

@media screen and (max-width: 480px) {
  .skills-item__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .skills-item__title {
    font-size: 18px;
  }
}

.skills__footer {
  padding: 155px 20px 110px;
  background-image: url("../pic/skills-bg2.png");
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (max-width: 940px) {
  .skills__footer {
    padding: calc(155*100%/940) 20px calc(110*100%/940);
  }
}

.citation {
  margin: 0 auto;
  max-width: 1125px;
  color: #fff;
}

.citation__content {
  position: relative;
  margin: 0 50px 81px 50px;
}

@media screen and (max-width: 550px) {
  .citation__content {
    margin: 0 30px calc(81*100%/550) 30px;
  }
}

@media screen and (max-width: 320px) {
  .citation__content {
    margin: 0 10px calc(81*100%/550) 10px;
  }
}

.citation__text {
  font-family: 'Crimson Text', serif;
  font-size: 34px;
  font-weight: 400;
}

@media screen and (max-width: 550px) {
  .citation__text {
    font-size: 27px;
  }
}

@media screen and (max-width: 400px) {
  .citation__text {
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  .citation__text {
    font-size: 17px;
  }
}

.citation__author {
  margin-right: 50px;
  text-align: right;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 550px) {
  .citation__author {
    margin-right: 30px;
    font-size: 19px;
  }
}

@media screen and (max-width: 400px) {
  .citation__author {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .citation__author {
    margin-right: 10px;
    font-size: 12px;
  }
}

.citation__open {
  bottom: 115%;
  right: 102%;
  position: absolute;
}

@media screen and (max-width: 550px) {
  .citation__open {
    width: 5%;
  }
}

.citation__close {
  left: 102%;
  top: 115%;
  position: absolute;
}

@media screen and (max-width: 550px) {
  .citation__close {
    width: 5%;
  }
}

.services {
  padding: 110px 0 112px;
}

@media screen and (max-width: 940px) {
  .services {
    padding: calc(110*100%/940) 0 calc(112*100%/940);
  }
}

.services__container {
  max-width: 1182px;
  margin: 0 auto;
  padding: 120px 20px 0;
}

@media screen and (max-width: 940px) {
  .services__container {
    padding: calc(120*100%/940) 20px 0;
  }
}

.services-item {
  width: 21.15%;
  display: inline-block;
  margin: 0 6.09%;
  vertical-align: top;
}

@media screen and (max-width: 940px) {
  .services-item {
    width: 24.15%;
    margin: 0 3.09%;
  }
}

@media screen and (max-width: 768px) {
  .services-item {
    width: 90%;
    margin-top: calc(70*100%/768);
  }
  .services-item:nth-child(1) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .services-item {
    margin-top: 50px;
  }
}

.services-item__logo {
  max-width: 100%;
  height: 76px;
}

@media screen and (max-width: 320px) {
  .services-item__logo {
    height: auto;
    width: 40%;
  }
}

.services-item__title {
  margin: 68px 0 32px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
  .services-item__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .services-item__title {
    margin: 40px 0 14px;
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  .services-item__title {
    margin: 20px 0 14px;
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .services-item__title {
    font-size: 18px;
  }
}

.services-item__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

@media screen and (max-width: 240px) {
  .services-item__description {
    font-size: 12px;
  }
}

.pricing {
  padding: 110px 20px 125px;
  background-image: url("../pic/pricing-bg.png");
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (max-width: 940px) {
  .pricing {
    padding: calc(110*100%/940) 20px calc(125*100%/940);
  }
}

.pricing__container {
  max-width: 720px;
  margin: 95px auto 0;
}

@media screen and (max-width: 940px) {
  .pricing__container {
    margin: calc(95*100%/940) auto 0;
  }
}

.pricing-item {
  width: 30.5%;
  display: inline-block;
  margin: 0 1.4%;
}

@media screen and (max-width: 515px) {
  .pricing-item {
    width: 200px;
    margin: 6% 10%;
  }
}

@media screen and (max-width: 320px) {
  .pricing-item {
    margin: 8% 0;
  }
}

.pricing-item__header {
  padding: 20px;
  background: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
}

.pricing-item__content {
  padding: 0 20px 20px 20px;
  border: 1px solid white;
}

.pricing-item__value {
  margin: 47px 0 53px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 60px;
}

@media screen and (max-width: 768px) {
  .pricing-item__value {
    margin: 33px 0 37px;
    font-size: 46px;
  }
}

@media screen and (max-width: 768px) and (max-width: 320px) {
  .pricing-item__value {
    font-size: 38px;
  }
}

.pricing-item__value .is-little {
  font-size: 24px;
  font-size: 17px;
}

.pricing-item__description {
  padding: 0 20px;
  line-height: 48px;
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .pricing-item__description {
    line-height: 38px;
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .pricing-item__description {
    padding: 0;
  }
}

.pricing-item__button {
  margin-top: 57px;
  display: block;
  box-sizing: border-box;
  background: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.pricing-item__button:hover {
  background: rgba(244, 198, 11, 0.75);
}

@media screen and (max-width: 768px) {
  .pricing-item__button {
    margin-top: 40px;
  }
}

.pricing-item__button-title {
  line-height: 50px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 650px) {
  .pricing-item__button-title {
    line-height: 50px;
  }
}

.blog {
  padding: 110px 20px 120px;
}

@media screen and (max-width: 940px) {
  .blog {
    padding: calc(110*100%/940) 20px calc(120*100%/940);
  }
}

@media screen and (max-width: 320px) {
  .blog {
    padding-bottom: 70px;
  }
}

.blog-container {
  position: relative;
  max-width: 960px;
  margin: 84px auto 0;
}

@media screen and (max-width: 1200px) {
  .blog-container {
    margin: 84px 100px 0;
  }
}

@media screen and (max-width: 990px) {
  .blog-container {
    margin: calc(84*100%/940) 0 0;
  }
  .blog-container .blog-item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  .blog-container .blog-item:nth-child(4) {
    display: none;
  }
}

.blog-item__button {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  border-top: 6px solid #f4c60b;
  border-right: 6px solid #f4c60b;
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .blog-item__button {
    width: 20px;
    height: 20px;
  }
}

.blog-item__button-next {
  left: 106%;
  transform: rotate(45deg);
}

.blog-item__button-next:hover {
  left: 106.5%;
}

@media screen and (max-width: 990px) {
  .blog-item__button-next {
    left: 87%;
  }
  .blog-item__button-next:hover {
    left: 87.5%;
  }
}

@media screen and (max-width: 768px) {
  .blog-item__button-next {
    left: 91%;
  }
  .blog-item__button-next:hover {
    left: 91.5%;
  }
}

@media screen and (max-width: 240px) {
  .blog-item__button-next {
    top: 107%;
    left: 80%;
  }
  .blog-item__button-next:hover {
    left: 80%;
  }
}

.blog-item__button-previous {
  right: 106%;
  transform: rotate(225deg);
}

.blog-item__button-previous:hover {
  right: 106.5%;
}

@media screen and (max-width: 990px) {
  .blog-item__button-previous {
    right: 87%;
  }
  .blog-item__button-previous:hover {
    right: 87.5%;
  }
}

@media screen and (max-width: 768px) {
  .blog-item__button-previous {
    right: 91%;
  }
  .blog-item__button-previous:hover {
    right: 91.5%;
  }
}

@media screen and (max-width: 240px) {
  .blog-item__button-previous {
    top: 107%;
    right: 80%;
  }
  .blog-item__button-previous:hover {
    right: 80%;
  }
}

.blog-item {
  width: 27%;
  display: inline-block;
  margin: 0 3.12%;
  position: relative;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .blog-item {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .blog-item {
    width: 35%;
  }
}

@media screen and (max-width: 630px) {
  .blog-item {
    width: 260px;
  }
}

@media screen and (max-width: 360px) {
  .blog-item {
    width: 70%;
  }
}

@media screen and (max-width: 240px) {
  .blog-item {
    width: 100%;
  }
}

.blog-item__container {
  position: absolute;
  top: 0;
  margin: 6px;
}

.blog-item__header-title {
  position: absolute;
  left: 18px;
  top: 36px;
  margin-right: 70px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.blog-item__header-day {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.blog-item__header-month {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.blog-item__header-date {
  position: absolute;
  top: 14px;
  right: 18px;
}

.blog-item__description {
  position: absolute;
  bottom: 0px;
  padding: 15px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.blog-item__background {
  max-width: 100%;
  height: auto;
  display: block;
}

.clients {
  padding-top: 110px;
  background: #fbfbfb;
}

@media screen and (max-width: 940px) {
  .clients {
    padding-top: calc(110*100%/940);
  }
}

.clients__wrap {
  padding: 0 20px;
}

.clients-container {
  margin-top: 116px;
  border: 0.5px solid #ebebeb;
}

@media screen and (max-width: 940px) {
  .clients-container {
    margin-top: calc(116*100%/940);
  }
}

.clients-item {
  width: 25%;
  display: inline-block;
  border: 0.5px solid #ebebeb;
  transition: box-shadow .4s ease-in-out;
  box-sizing: border-box;
  background: #fff;
  line-height: 240px;
}

.clients-item:hover {
  box-shadow: inset 0 0 50px #ebebeb;
}

@media screen and (max-width: 950px) {
  .clients-item {
    padding: 0 calc(40*100%/950);
    line-height: 160px;
  }
  .clients-item:nth-child(1) {
    padding: 0 calc(70*100%/950);
  }
}

@media screen and (max-width: 850px) {
  .clients-item {
    line-height: 150px;
  }
}

@media screen and (max-width: 800px) {
  .clients-item {
    line-height: 140px;
  }
}

@media screen and (max-width: 600px) {
  .clients-item {
    line-height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .clients-item {
    padding: 0 calc(40*100%/400);
    width: 50%;
    line-height: 120px;
  }
  .clients-item:nth-child(1) {
    padding: 0 calc(70*100%/400);
  }
}

@media screen and (max-width: 320px) {
  .clients-item {
    line-height: 95px;
  }
}

@media screen and (max-width: 240px) {
  .clients-item {
    line-height: 70px;
  }
}

.clients-item__logo {
  max-width: 100%;
  vertical-align: middle;
}

.contacts {
  padding: 30px 20px 60px;
  background-image: url("../pic/contact-bg.png");
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (max-width: 940px) {
  .contacts {
    padding: calc(30*100%/940) 20px calc(60*100%/940);
  }
}

.contact__title {
  margin-bottom: 97px;
  color: #fff;
}

@media screen and (max-width: 940px) {
  .contact__title {
    margin-bottom: calc(97*100%/940);
  }
}

.contact-form__container {
  max-width: 500px;
  margin: 0 auto;
}

.contact-form__field {
  padding: 14px;
  box-sizing: border-box;
  border: 3px solid white;
  background: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.contact-form__field:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-form__field::-webkit-input-placeholder {
  color: #fff;
}

.contact-form__field::-webkit-input-placeholder {
  line-height: 20px;
  transition: line-height 0.5s ease;
}

.contact-form__field:focus::-webkit-input-placeholder {
  line-height: 100px;
  transition: line-height 0.5s ease;
}

.contact-form__name {
  width: 240px;
  float: left;
}

@media screen and (max-width: 525px) {
  .contact-form__name {
    width: 100%;
    margin-bottom: 16px;
  }
}

.contact-form__email {
  width: 240px;
  float: right;
}

@media screen and (max-width: 525px) {
  .contact-form__email {
    width: 100%;
  }
}

.contact-form__message {
  width: 100%;
  height: 220px;
  margin: 16px 0 11px;
}

.contact-form__button {
  width: 160px;
  box-sizing: border-box;
  float: left;
  background: #f4c60b;
  border: 3px solid #f4c60b;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 7px 7px 10px black;
}

.contact-form__button:hover {
  box-shadow: none;
}

.contact-form__button-title {
  line-height: 44px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.footer {
  padding: 52px 0 20px;
  background: #303030;
  color: #fff;
}

.footer__title {
  display: block;
  margin: 17px 0 14px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__description {
  display: block;
  font-family: 'Crimson Text', serif;
  font-size: 12px;
  font-style: italic;
}

.footer__copiright {
  display: block;
  font-size: 12px;
  font-weight: 300;
}

.footer-social__icon {
  width: 26px;
  height: 19px;
  display: inline-block;
  margin: 56px 0 30px;
  background: url("../pic/social.svg");
}

.is-google {
  background-position: 0px 0px;
}

.is-google:hover {
  background: url("../pic/social-hover.svg");
}

.is-facebook {
  background-position: -28px 0px;
}

.is-facebook:hover {
  background: url("../pic/social-hover.svg");
  background-position: -28px 0px;
}

.is-twitter {
  background-position: -51px 0px;
}

.is-twitter:hover {
  background: url("../pic/social-hover.svg");
  background-position: -51px 0px;
}
